/* Name: Mainah Folkers
   Student number: 10535845 */

h1
{
    font: "Palatino Linotype", "Book Antiqua", Palatino, serif;
    text-align:center;
}

#container
{
    margin-left:auto;
    margin-right:auto;
    display:block;
}

#interactivity
{
    margin-top: 200;
}
